

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

input[type="checkbox"].sky-checkbox {
  -webkit-appearance: none;
  -moz-appearance:  none;
  appearance:  none;

  border: 1px solid #33b5e5;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;

  vertical-align: text-bottom;

  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

input[type="checkbox"].sky-checkbox:active {
  border-color: black;
}

input[type="checkbox"].sky-checkbox:active:checked::before {
  color: #000000;
}

input[type="checkbox"].sky-checkbox:checked::before {
  content: "\f00c";
  width: 25px;
  height: 25px;
  font-size: 25px;
  vertical-align: text-bottom;
  position: absolute;
  bottom: 0px;
  color: #437de5;

  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;

  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;

  -webkit-transition: opacity .55s linear;
  -moz-transition: opacity .55s linear;
  -ms-transition: opacity .55s linear;
  -o-transition: opacity .55s linear;
  transition: opacity .55s linear;
}

input[type="checkbox"].sky-checkbox:disabled {
  border-color: #aaaaaa;
}

input[type="checkbox"].sky-checkbox:disabled:checked::before {
  color: #aaaaaa;
}

.sky-mutable-group {
  position: relative;
}